@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #EAB897;
  scroll-behavior: smooth;
}

html.dark {
  --line-color: #49321F;
}


.borderBlack {
  @apply border border-black/10;
}

.SectionHeading {
  @apply text-2xl font-bold mb-4;
  color: #EAB897;
}
